.showcase{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.showcase img{
    width: 24%;
    margin-top: 10px;
}

.slider img{
    background-size: contain;
    width: 100vw;
}

.slider{
    background: url("https://images.unsplash.com/photo-1471174826377-f3da3bd635e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=724&q=80");
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider div{
    color: white;
    width: 40%;
    float: left;
    margin-left: 0;
}

.slider div h1{
    font-size: 3rem;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.categories img{
    border-radius: 50%;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories div{
    display: flex;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width:800px){
    .showcase{
        flex-wrap: wrap;
    }
    .showcase img{
        width: 45%;
    }
}